*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  margin: 0 auto;
  height: 1000px;
  width: 95%;
  font-family: 'Be Vietnam Pro', sans-serif;
  text-align: center;
}

.row{
  margin: 40px;
}

.card{
  display:inline-block;
  width: 30%;
  position: relative;
  margin: 5px;
}

img{
  width: 100%;
}

.img-iniziale{
  position: relative;
}

.inside-image {
  position: absolute;
  color: white;
  padding: 10px;
  font-weight: 600;
}

.sconto-bg-red{
  left: 0;
  bottom: 30px;
  background-color: #ff007b;
  color: white;
}

.sconto-bg-green{
  left: 60px;
  bottom: 30px;
  background-color: #28b400;
  color: white;
}



.cuore{
  right: 0;
  top: 20px;
  background-color: white;
  color: black;
  font-size: 30px;
}

.img-secondaria{
  display: none;
  position: absolute;
  left: 0;
}

.testo-sotto-immigini{
  position: absolute;
  left: 0;
  top: 600px;
  text-align: left;
}

.card:hover .img-secondaria{
  display: inline;
}

.row-sotto{
  padding-top: 50px;
}

.marca{
  font-size: 15px;
}

.prezzo-color-red{
  color: #ff007b;
  font-weight: 900;
}